<div class="col-md-6">
  <h2>Escríbenos</h2>
  <form>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Apellido">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asunto">
      </div>
    </div>
    <div class="mb-3">
      <textarea class="form-control" rows="5" placeholder="Mensaje"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
