<div class="container">
  <!-- Search and Categories -->
  <div class="d-flex justify-content-center mb-3">
    <input type="text" class="form-control w-25 me-2" placeholder="Buscar">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary">Categoría 1</button>
      <button type="button" class="btn btn-outline-secondary">Categoría 2</button>
      <button type="button" class="btn btn-outline-secondary">Categoría 3</button>
    </div>
  </div>

  <!-- Productos -->
  <div class="row mb-3">
    <div class="col-md-4 mb-3" *ngFor="let producto of productos">
      <div class="card">
        <img [src]="producto.imagen" class="card-img-top" alt="{{producto.nombre}}">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
